<div class="container">
  <div class="main-content">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <%=raw content_tag :div, msg, id:"flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
    Logged in as <%= current_user.email %>
  </div>  
</div>
